<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "css/bulma.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

    <style>
        @media only screen and (max-width: 480px) {
            .navbar .navbar-section {
                display: block;
            }
        }
    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
    <title>{{$.Page.Site.Data.meta.course}} | {{ .Title }}</title>
</head>

<body>
    <section>
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">

            <div class="navbar-brand">
                <a class="navbar-item" href="/">{{$.Page.Site.Data.meta.course}} </a>
                <a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="nav-menu" class="navbar-menu">
                <div class="navbar-start">
                    <!-- navbar items -->
                    <a href="/syllabus" class="navbar-item">Syllabus</a>
                    <a href="/#calendar" class="navbar-item">Calendar</a>
                    
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Labs
                        </a>
                        <div class="navbar-dropdown">
                          {{ range seq 14  }}
                          <a href="/labs/lab-{{.}}/" class="navbar-item">
                                Lab-{{.}}
                          </a>
                          {{ end }}
                       

                        </div>
                      </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="bd-sl-button button is-dark" data-social-network="Slack" data-social-action="slack" data-social-target={{$.Page.Site.Data.meta.slack}}
                                    target="_blank" href={{$.Page.Site.Data.meta.slack}}>
                                    <span class="icon">
                                        <i class="fab fa-slack"></i>
                                    </span>
                                    <span>
                                        Slack
                                    </span>
                                </a>
                                <a class="bd-sl-button button is-light" data-social-network="Gitlab" data-social-action="gitlab" data-social-target={{$.Page.Site.Data.meta.gitlab}}
                                target="_blank" href={{$.Page.Site.Data.meta.gitlab}}>
                                <span class="icon">
                                    <i class="fab fa-gitlab"></i>
                                </span>
                                <span>
                                    GitLab
                                </span>
                            </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </section>