.footer {
    color: #000000;
    background-color:#f5f5f5;
}
footer.footer div.content p {
    margin: 0em;
}

h1.hero-title{
    color: #000 !important;
}
.date-item {
    color: #aaaaaa;
}
.is-passed {
    background-color: #e2f7f4;
}
a.slide-link{
    text-decoration: underline;
}
ul.square-list {
    list-style: square;
}
a.white-link, a.white-link:hover {
    color: #ffffff;
    text-decoration: underline;
}
.to-right {
    float: right;
}