{{ partial "header.html" . }}

<section class="section">
    <div class="to-right">
    <a href="https://gitlab.com/cpit490/cpit490.gitlab.io/edit/master/content/{{ .File.Path }}" target="_blank" class="edit-page icon-pencil">
        <i class="far fa-edit"></i>
        Edit Page
    </a>
</div>
    <div class="container">
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</section>
{{ partial "footer.html" . }}